html{height: 100%}

body{
margin: 0;
height: 100%;
background-color:#e6e6e6;
}

.map {
        height: 650px;
        width: 100%;
      }

.header{
  width: 100%;
  height: 10%;
  position:fixed;
  display: block;
  background-color:white ;
  z-index: 1
}


.profile-container{
position: absolute;
right:5% ;
display: inline-block;
margin-top:  13px;
text-align: center;
}


.profile-pic{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  float: left;
  margin-top:auto;
  margin-bottom: auto;
}

.profile-name{
  display: inline-block;
  margin: 12px 0 0 10px;
  color: #0059b3;
  font-weight: 500;
}


.sidebar{
  width:12%;
  height:90%;
  background-color: #0059b3;
  display: inline-block;
  position: fixed;
  left: 0;
  top:10%;
}

.navigation-item{
  width: 80%;
  margin:1rem auto;

}


.current-page{
  color: white;
  background-color:#003366;
  text-decoration: none;
  padding: 0.4rem 1rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bolder;
  display: block;
  border-radius: 5px;
}


a.menu-link{
  color: #bfbfbf;
  text-decoration: none;
  padding: 0.4rem 1rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bolder;
  display: block;
  border-radius: 5px;
}

.menu-link:hover , .current-page:hover {
  color: white;
  background-color:#003366;

  }


.safety-container{
  width: 88%;
  /* height: 90% ; */
  position: relative;
  left: 12%;
  top:10%;
  display:inline-block;
  text-align: center;

}


.img-container{
  width: 800px;
  max-height: 500px;
background-color:#f2f2f2;
border-radius: 0.8rem;
display: inline-block;
left:10%;
top:5%;
margin: 3rem auto ;
z-index: -1;
}

.thief-img{
  position:relative;
  left:0;
  float: left;
  border-radius:3rem;
  padding: 2rem;
  max-width: 500px;
  max-height: 450px;

}

.img-caption p{
  padding:2rem 1rem;
  font-size: 1.5rem;
  font-weight: 500 ;
}
